$title-margin-bottom: 15px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "Header";
@import "Sidebar";
@import "Auth";
@import "Subscription";
@import "History";


.Content {
  margin-top: 10px;
}

.Title {
  margin-bottom: $title-margin-bottom;
}
