$title-margin-bottom: 15px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "Header";
@import "Tray";
@import "Sidebar";
@import "Auth";
@import "Subscription";
@import "History";
@import "braintree";

html, body {
  height: 100%;
}

.Wrapper {
  padding-right: 0;
  padding-left: 0;
}

.Wrapper__Row {
  width: 100%;
}

.Content {
  margin-top: 45px;
}

.Title {
  margin-bottom: $title-margin-bottom;
}

.InstallExtensionButtonContainer {
  position: absolute;

  .InstallExtensionButton {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
