@import "variables";

.Header {
  height: 63px;
  margin-bottom: 0;

  border: 1px solid #d3e0e9;
  z-index: 1000;
  background-color: #fff;
}

.Header__LogoutForm {
  display: none;
}

.Header__LogoImageContainer {
  float: left;
  height: 50px;
  padding: 18px 15px 14px 0;
  font-size: 18px;
  line-height: 22px;
  color: #777;

  @media (max-width: $sm-size) {
    display: none !important;
  }
}

.Header__LogoImage {
  height: 45px;
  position: relative;
  bottom: 11px;
}

.Header__Title {
  float: left;
  height: 50px;
  padding: 20px 15px 14px 0;
  font-size: 18px;
  line-height: 22px;
  color: #777;
  text-decoration: none;

  &:hover, &:focus {
    color: #5e5d5d;
    text-decoration: none;
    background-color: transparent;
  }
}

.Header__Link {
  padding: 18px 12px !important;
}

.Header__DropdownContainer {
  @media (max-width: $sm-size) {
    display: none !important;
  }
}

.Header__DropdownTrigger {
  padding: 18px 15px !important;
  color: #333;
  text-decoration: none;

  &:hover, &:focus {
    color: #333;
    background-color: transparent;
  }
}

.Header__AdContainer {
  display: inline-block;
  float: left;
  position: relative;

  @media (max-width: $sm-size) {
    position: absolute;
    top: 0;
    right: 0;
    left: 30%;
  }

  img {
    height: 49px;
    width: 100%;
  }

  //ins {
  //  width: 100%;
  //  height: 49px !important;
  //}
}
