.History__Header {
  margin-bottom: 10px;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #d3e0e9;
  font-weight: bold;
  color: black;
}

.History__Col {
  overflow: hidden;
  text-overflow: ellipsis;
}