.Subscription {
  cursor: pointer;

  input {
    position: absolute;
    visibility: hidden;
  }
}

.Subscription--IsActive {
  border-color: #0779F3;
}

.Subscription__PaymentMethodValue {
  font-size: 17px;
  font-weight: bold;
}