@import "variables";

.Tray {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  border-top: 1px solid #d3e0e9;
  z-index: 99999;
  background-color: white;

  //@media (max-width: $sm-size) {
  //  display: block !important;
  //}
}

.Tray__Item {
  display: block;
  padding: 10px 25px;
  border-bottom: 1px solid #d3e0e9;
  border-left: 1px solid #d3e0e9;
}

.Tray_TriggerContainer {
  display: none !important;

  @media (max-width: $sm-size) {
    display: block !important;
  }
}

.Tray__Trigger {
  height: 100%;
}
